<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="navbar">
        <a href="/">Home</a>
        <a href="/genres">Genres</a>
        <a href="/movies">Movies</a>
      </header>

      <h1><%= title %></h1>
      <a href="/movies/new" class="btn">+ New Movie</a>

      <ul class="list">
        <% movies.forEach(movie => { %>
        <li class="list-item">
          <div>
            <strong><%= movie.title %></strong><br />
            <small><%= movie.release_year %> • <%= movie.genre_name %></small>
          </div>
          <div>
            <a href="/movies/<%= movie.id %>/edit" class="btn">Edit</a>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
